/* Element selectors */
body {
    color: red;
}

p {
    font-weight: 300;
}


/* Class selector */
.gray {
    color: gray;
}


/* id selector */
#second {
    font-style: italic;
}

/* Universal selector */
* {
    color: green;
}


/* Group selectors */
h1,
h1 {
    color: blue;
}

/* 
both are different 
The above selects both h1 and h2
The below one selects h2 tags that appear inside an h1 tag
*/
h1 h2 {
    color: red;
}